<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2024 - Today: GRAP (http://www.grap.coop)
@author: Quentin DUPONT (quentin.dupont@grap.coop)
License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->
<odoo>

    <!-- ************************************************************ -->
    <!-- CRM - Add Config access to CRM All Leads User -->
    <!-- ************************************************************ -->
    <record model="ir.ui.menu" id="crm.crm_menu_config">
        <field name="groups_id" eval="[(6, 0, [ref('crm_security_group.group_crm_own_leads')])]"/>
    </record>

    <record model="ir.ui.menu" id="crm.menu_crm_config_lead">
        <field name="groups_id" eval="[(6, 0, [ref('crm_security_group.group_crm_own_leads')])]"/>
    </record>

    <record model="ir.ui.menu" id="crm.crm_menu_report">
        <field name="groups_id" eval="[(6, 0, [ref('crm_security_group.group_crm_own_leads')])]"/>
    </record>

    <record model="ir.ui.menu" id="crm.menu_crm_lead_stage_act">
        <field name="groups_id" eval="[(6, 0, [ref('crm_security_group.group_crm_own_leads')])]"/>
    </record>

</odoo>
